

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #FDCB9E;
    font-size: 80px;
    text-align: center;
    margin: 5%;
}

h1 span {
    color: #00B7C2;
}

p {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #20202062;
    backdrop-filter: blur(50px);
    padding: 5%;
    width: 50%;
}
p strong {
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    main {
        height: 120%;
    }
}