h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #FDCB9E;
    font-size: 80px;
    text-align: center;
    margin: 5%;
    
}
h1 span {
    color: #00B7C2;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
}
h3 {
    font-family: 'Hind Madurai', sans-serif;
    font-style: normal;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #FDCB9E;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 3% 10%;
    gap: 50px;
    border: 2px solid #ffffff;
    background-color: #20202062;
    backdrop-filter: blur(5px);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    transition: 0.5s;
}

.contact:hover {
    transform: scale(1.2);
}



@media screen and (max-width: 992px) {
    .contact-container {
        width: 70%;
    }

}
@media screen and (max-width: 768px) {
    .contact-container {
        width: 70%;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .contact {
        flex-direction: column;
        border-bottom: #ffffff solid 1px;
        width: 100%;
    }

}