/* A SUPPRIMER

font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Giga', sans-serif; */

p {
font-family: 'Hind Madurai';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
}


body {
    background: linear-gradient(-45deg,  #014c52, #014450, #505050);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
    height: 100%;
    user-select: none
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.navbar-list {
    display: flex;
    gap: 10px;
    margin: 1% 1%;
}


.nav-button {
    background-color: #0d1b2a83;
    border-radius: 42px;
    border: 4px solid #00d8e7;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}
.nav-button:hover {
    transform: scale(1.1);
}

.nav-selected {
    background-color: #00d8e7;
}

.nav-picture {
    width: 20px;
}


@media screen and (max-width: 992px) {

  .navbar-list {
      align-items: center;
      justify-content: center;
      margin: 5% 0% 0% 0%;
      width: 100%;
  }

  body {
      margin: 0% auto;

  }
}