h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #FDCB9E;
    ;
    font-size: 80px;
    text-align: center;
    margin: 5%;
}

h1 span {
    color: #00B7C2;
}

a {
    text-decoration: none;
}
h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    text-align: center;
    color: #FDCB9E;
    line-height: 50px;
}
.projects-regroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    gap: 50px;
}

.project {
    display: flex;
    width: 20%;
    height: 400px;
    padding: 5% 5%;
    background-color: #50F1FC;
    align-items: center;
    justify-content: center;
    background-color: #20202062;
    backdrop-filter: blur(50px);
    transition: 0.5s;
    border-radius: 10px;
}
.project:hover {
    transform: scale(1.1);
    background-color: #2f9097;
}

@media screen and (max-width: 992px) {

    .project {
        width: 35%;
    }

}

@media screen and (max-width: 768px) {
    .projects-regroup {
        margin-bottom: 50px;
    }
    .project {
        width: 80%;
    }

}
