body {
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 5%;
}

h1 span {
    color: #50F1FC;
}

h2 {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: justify;
    color: #ffffff;
}

.skill-icon {
    height: 44px;
}

.main-skills-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff2c;
    backdrop-filter: blur(2px);
    border: 1px solid #FFFFFF;
    margin: 5% 10%;
    height: 150px;
    align-items: center;
    justify-content: flex-start;
}
    
.main-skills-group section {
    display:flex;
    gap: 5px;
    align-items: center;
}